@font-face {
    font-family: Roboto;
    src: url('../../../../fonts/RobotoCondensed-VariableFont_wght.ttf');
}

.cardsPrice{
    display: -ms-grid;
    display: grid;
    margin-bottom: 100px;
    -ms-grid-columns: (22%)[4];
        grid-template-columns: repeat(4, 22%);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    grid-gap: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

@media (max-width: 1024px) and (min-width: 767px){
    .cardsPrice{
        -ms-grid-columns: (45%)[2];
        grid-template-columns: repeat(2, 45%);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }

}

@media (max-width: 766px) and (min-width: 517px){
    .cardsPrice{
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    }
}

@media (max-width: 516px){
    .cardsPrice{
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 10px;
    }
  }

