@font-face {
    font-family: Roboto;
    src: url('../../../../fonts/RobotoCondensed-VariableFont_wght.ttf');
}

@media (min-width: 767px) {
    .mainMobileCourse {
        display: none;
    }
}

@media (max-width: 766px) and (min-width: 517px) {
    .mainMobileCourse {
        display: block;
        background-image: url('../img/Кистьфон3.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .mobileCourseInfo {
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mainMobileCourse__infoBox {
        padding: 10px 0;
        margin-left: -50px;
        max-width: 500px;
    }

    .mainMobileLink {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        text-align: center;
        color: #3f3f3f;
        display: block;
        text-decoration: none;
        padding: 3px 4px;
        border-radius: 20px;
        border: 2px solid #3f3f3f;
        width: 35%;
        margin-top: 15px;
        font-size: 12px;
    }
}
@media (max-width: 516px){
    .mainMobileCourse {
        display: block;
        background-image: url('../img/Кистьфон3.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    .mobileCourseInfo {
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mainMobileCourse__infoBox {
        padding: 10px 0;
        margin-left: -50px;
        max-width: 500px;
    }

    .mainMobileLink {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        text-align: center;
        color: #3f3f3f;
        display: block;
        text-decoration: none;
        padding: 3px 4px;
        border-radius: 20px;
        border: 2px solid #3f3f3f;
        width: 35%;
        margin-top: 15px;
        font-size: 12px;
    }
}