.titleLineBox{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
 
}

.line{
    height: 2px;
    width: 33%;
    background-color: #3f3f3f;
}