
.mediaLinks__box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mediaLink{
    display: block;
    text-decoration: none;
    margin-right: 20px;

}

.mediaLink__fa{
    color: #f3a7d3;
  font-size: 20px;
}

.mediaLink__fa:hover{
    color: white;
    font-size: 20px; 
}

