
.mediaLinks__box{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mediaLink{
    display: block;
    text-decoration: none;
    margin-right: 20px;
}

.mediaLink:last-of-type{
    margin-right: 0;
}

.mediaLink__fa{
    color: #f3a7d3;
  font-size: 20px;
}

.mediaLink__fa:hover{
    color: white;
    font-size: 20px; 
}



@media (max-width: 766px) and (min-width: 517px){
    .mediaLink__fa{
      font-size: 18px;
    }
}

@media (max-width: 516px){
    .mediaLink__fa{
      font-size: 16px;
    }
}

@media (max-width: 425px){
    .mediaLink__fa{
        font-size: 16px;
      }
}

