@font-face {
    font-family: Noto;
    src: url('../../../fonts/NotoSerifDisplay-VariableFont_wdth\,wght.ttf');
}

.title{
    font-family: 'Noto', serif;
    font-size: 30px;
    color: #3f3f3f; 
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.titleTablet{
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 5px;
    font-weight: 600;
    
}

@media (max-width: 766px) and (min-width: 517px){
    .title{
        font-size: 40px;
    }
}



