.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0 , 0.9);
    z-index: 100;
    width: 100%;
}

.modalContent{
    position: relative;
    background: white;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: auto;
}

.modalBox{
    position: relative;
}

.arrowLeft,
.arrowRight{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(214, 214, 214, 0.4);
    font-size: 10px;
    font-weight: 200;
    position: absolute;
    top: 50%;
    z-index: 200;
    cursor: pointer;
    transition: all 0.3s;
}


.arrowLeft:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(214, 214, 214, 0.6);
}

.arrowRight:hover{
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(214, 214, 214, 0.6);
}

.arrowLeft{
    margin-right: 5px;
    left: 4px;
}

.arrowRight{
    margin-left: 5px;
    right: 4px;
}

.close{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 4px;
    right: 7px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.close:hover{
    transform: scale(1.05);
    color: #cd4e98;
    background-color: white;
}