.container{
    max-width: 1200px;
    margin: 0 auto;
  }

  .wrapper {
    padding: 0 20px;
  }

  input,
  button,
  textarea {
    outline: none;
  }

  .main-tablet-course__info{
    
  }

  @media (max-width: 1024px) and (min-width: 767px){
    .container{
      max-width: 1000px;;
    }

    .main-tablet-course__wrapper{
      display: flex;
    margin-top: 100px;
    }
  }