.priceCard{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3f3f3f;
  min-height: 250px;
  padding: 10px 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 20px;
  position: relative;
}

.priceCard__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3f3f3f;
    padding-bottom: 10px;
    text-align: center;
    height: 30px;
}

.priceCard__price{
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3f3f3f;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 24px;
  text-align: center;
}