.priceCard{
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #3f3f3f;
  min-height: 273px;
  padding: 10px 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 20px;
  position: relative;
}

.priceCard__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #3f3f3f;
    padding-bottom: 10px;
    text-align: center;
    height: 30px;
}

.priceCardDescription__title{
  font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
    height: 30px;
}

.priceCard__price{
    font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #3f3f3f;
  margin-top: 13px;
  margin-bottom: 13px;
  font-size: 24px;
  text-align: center;
}

.cardDescription{
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 13px;
  font-size: 18px;
}

.priceCardDescription{
  background-image: url('../../main-page/Main/img/IMG_4010.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(19, 19, 19, 0.8);
  z-index: -1;
  border-radius: 20px;
}

@media (max-width: 766px) and (min-width: 517px){
  .priceCard{
    margin: 0 auto;
  }
}

@media (max-width: 516px){
  .priceCard{
    margin: 0 auto;
  }

  .priceCard__title,
  .priceCard__price{
    font-size: 15px;
  }

  .cardDescription,
  .priceCardDescription__title{
    font-size: 12px;
  }

  .cardDescription{
    margin-top: 10px;
  }
}